<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125176569-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-125176569-1');
  </script>
</head>

<body>
  <div id="app">Loading application...</div>
  <div id="app2">Loading application...</div>
  <div id="app3">Loading application...</div>
  <div id="move">move!</div>
  <div id="clean">clean</div>
      <div class="schedule_wrap mo">
        <div>
        <div class="schedule_kr schedule schedule_kr_1">
          <div class="blue blue_1"></div>
          <div class="blue blue_2"></div>
          <div>
            <div><span class="multi_en">2019</span></div> 
            <div>타이포잔치:</div> 
          </div>
          <div>
            <div><span class="multi_en">6</span>회</div>
            <div>국제</div>
          </div>
          <div>
            <div>타이포그래피</div>
            <div>비엔날레</div>
          </div>
        </div>
        <div class="schedule_kr schedule schedule_kr_2">
          <div>
            <div>2019.</div>
            <div>10.5.</div>
            <div class="middleslash"></div>
            <div>11.3.</div>
          </div>
          <div>
            <div>문화역서울</div>
            <div>284</div>
          </div>
        </div>
        </div>
        <div>
        <div class="schedule_en schedule schedule_en_1">
          <div>
            <div>Typojanchi</div> 
            <div>2019:</div> 
          </div>
          <div>
            <div>6th</div>
            <div>International</div>
          </div>
          <div>
            <div>Typography</div>
            <div>Biennale</div>
          </div>
        </div>
        <div class="schedule_en schedule schedule_en_2">
          <div>
            <div>Oct.5</div>
            <div class="middleslash"></div>
            <div>Nov.3,</div>
            <div>2019</div>
          </div>
          <div>
            <div>Culture</div>
            <div>Station</div>
            <div>Seoul</div>
            <div>284</div>
          </div>
        </div>
        </div>
      </div>
        <div class="slash slash_left" src="./img/slash.png"></div>
        <div class="slash slash_right" src="./img/slash.png"></div>
        <a href="http://typojanchi.org/" id="logo" class="logo mo" target="_blank" ><div class="logo"></div></a>






  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
  <script>
    canvas_size()
    // clean_buttons()
    function canvas_size(){
        if(document.getElementsByTagName('canvas').length >9){
            document.getElementsByTagName('canvas')[0].style.width = window.innerWidth/3 + 'px'
            document.getElementsByTagName('canvas')[0].style.height = (window.innerWidth/3)*2 + 'px'
            document.getElementsByTagName('canvas')[5].style.width = window.innerWidth/3 + 'px'
            document.getElementsByTagName('canvas')[5].style.height = (window.innerWidth/3)*2 + 'px'
            document.getElementsByTagName('canvas')[10].style.width = window.innerWidth/3 + 'px'
            document.getElementsByTagName('canvas')[10].style.height = (window.innerWidth/3)*2 + 'px'
        }else{
            setTimeout(function(){
            canvas_size()
            }, 100);
        }
    }
    document.getElementById('move').addEventListener("click", move);
    function move(){
      var output_array = []
      var output = document.getElementsByTagName('h6')
      if(output){
        for (var i = 0; i < output.length; i++) {
            output_array.push(output[i].innerHTML)
                if (i == output.length-1) {
                    alert (output_array.join(''))
                }
            }      
        }
    }

    document.getElementById('clean').addEventListener("click", move);
    function move(){
      var output_array = []
      var output = document.getElementsByTagName('h6')
      if(output){
        for (var i = 0; i < output.length; i++) {
            output_array.push(output[i].innerHTML)
                if (i == output.length-1) {
                    alert (output_array.join(''))
                }
            }      
        }
    }
  </script>
</body>

</html>
